.projectContainer {
    @include theme(dark);
    display: flex;
    place-content: center;
    padding-block: px-to-rem(10px);

    &:nth-child(even) {
        .contentProject {
            grid-template-areas:
                'title    title       image   '
                'description description image'
                'stack    links       image   ';

            .linksProject {
                justify-content: end;
                flex-direction: row-reverse;
            }

            .stackContainer {
                place-self: start;
                place-items: start;
            }
        }
    }

    .contentProject {
        display: grid;
        max-width: 75%;
        grid-template-areas:
            'image    title       title   '
            'image description description'
            'image    links       stack   ';

        .titleProject {
            grid-area: title;
            place-self: center;
            @include responsive-size(30px, null, null);
        }

        .linkImage {
            grid-area: image;
            align-self: center;
            display: grid;
            place-self: center;
            margin-inline: px-to-rem(10px);
            width: fit-content;
            height: fit-content;

            .imgDesktop {
                height: 100%;
                max-height: 15vh;
                min-height: px-to-rem(215px);
                border-radius: 10px;
                object-fit: contain;
            }
        }

        .descriptionProject {
            grid-area: description;
            @include responsive-size(16px, 10px, null);
            margin-block-start: px-to-rem(-5px);
        }

        .stackContainer {
            grid-area: stack;
            justify-self: end;
            width: 100%;
            display: grid;
            justify-items: end;
            gap: px-to-rem(5px);
            font-family: $font-family-title;
            @include responsive-size(22px, null, null);
            padding-inline: px-to-rem(10px);

            .stacks {
                width: fit-content;
            }

            .stackDetails {
                display: flex;
                gap: px-to-rem(10px);
                width: fit-content;

                .techsInProject {
                    display: grid;
                    place-content: center;
                    align-self: center;
                }
            }
        }

        .linksProject {
            grid-area: links;
            width: 100%;
            place-self: start;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: px-to-rem(15px);
            @include responsive-size(null, 15px, null);

            .iconProject {
                @include responsive-size(56px, null, null);
            }
        }
    }

    @include respond-to('wave') {
        &:nth-child(even) {
            .contentProject {
                grid-template-areas:
                    'image       image       image'
                    'title       title       title'
                    'description description description'
                    'links       stack       stack';

                .linksProject {
                    flex-direction: row;
                    justify-content: start;
                }

                .stackContainer {
                    place-items: end;
                }
            }
        }

        .contentProject {
            grid-template-areas:
                'image       image       image'
                'title       title       title'
                'description description description'
                'links       stack       stack';

            .titleProject {
                @include responsive-size(36px, null, null);
            }

            .linkImage {
                text-align: center;

                .imgDesktop {
                    height: 100%;
                    max-height: 25vw;
                }
            }

            .descriptionProject {
                text-align: center;
            }

            .stackContainer {
                .stackDetails {
                    flex-wrap: wrap;
                }
            }

            .linksProject {
                height: 100%;
            }
        }
    }

    @include respond-to('small') {
        .contentProject {
            max-width: 70%;
            .linkImage {
                .imgDesktop {
                    height: 100%;
                    max-height: 15vh;
                    min-height: px-to-rem(150px);
                }
            }

            .titleProject {
                @include responsive-size(28px, null, null);
            }

            .linksProject {
                gap: px-to-rem(10px);
                @include responsive-size(null, 5px, null);

                .iconProject {
                    @include responsive-size(42px, null, null);
                }
            }
        }
    }
}
