.theme {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: px-to-rem(45px);
    height: px-to-rem(45px);
    position: relative;

    .themeToggle {
        display: none;

        &:checked + .iconSun {
            transform: rotate(360deg) scale(0);
        }

        &:checked ~ .iconMoon {
            transform: rotate(360deg) scale(1);
        }
    }

    [class*='icon'] {
        position: absolute;
        @include responsive-size(40px, null, null);
        @include transition(transform);
    }

    .iconMoon {
        transform: scale(0);
    }

    @include respond-to('medium') {
        [class*='icon'] {
            @include responsive-size(42px, null, null);
            margin-block-start: px-to-rem(5px);
        }
    }
}
