.theme {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: px-to-rem(45px);
    height: px-to-rem(45px);
    position: relative;

    .themeToggle {
        opacity: 0;

        &:focus + .iconSun,
        &:focus ~ .iconMoon {
            outline: 2px solid $dark-color;
            border-radius: 5px;
        }
    }

    [class*='icon'] {
        position: absolute;
        @include responsive-size(40px, null, null);
        @include transition(transform);
    }

    .iconMoon {
        transform: rotate(0deg) scale(0);
    }

    @include respond-to('medium') {
        [class*='icon'] {
            @include responsive-size(42px, null, null);
            margin-block-start: px-to-rem(5px);
        }
    }
}
