@import '../utils/variables';
@import '../utils/mixins';

* {
    @include responsive-size(null, 0, 0);
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-body;
    font-size: $base-font-size;
    line-height: 1.6;
    @include theme(dark);
}

h1,
h2,
h3 {
    font-family: $font-family-title;
}

ul,
summary {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $dark-color;
}

.logo {
    font-family: $font-family-logo;
}

*::-webkit-scrollbar-thumb {
    @include theme(dark);
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: px-to-rem(10px);
    @include theme(dark, 'accent');
}

.title {
    @include responsive-size(42px, null, null);
    place-self: center;
    margin-block-end: px-to-rem(24px);
    position: relative;
    width: max-content;

    &::after {
        content: '';
        position: absolute;
        bottom: px-to-rem(5px);
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: px-to-rem(3px);
        @include theme(dark, 'font');
    }
}

.spanColor {
    background: $color-details;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.iconStack {
    height: 2.5vw;
    min-height: px-to-rem(48px);
    border-radius: 5px;
}

@include respond-to('small') {
    .title {
        @include responsive-size(36px, null, null);
    }

    .iconStack {
        min-height: px-to-rem(32px);
    }
}
