@import '../utils/variables';
@import '../utils/mixins';

* {
    @include responsive-size(null, 0, 0);
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-body;
    font-size: $base-font-size;
    line-height: 1.6;
    @include theme(dark);
}

h1,
h2,
h3 {
    font-family: $font-family-title;
}

ul,
summary {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $dark-color;
}

.logo {
    font-family: $font-family-logo;
}

*::-webkit-scrollbar-thumb {
    @include theme(dark);
    border-radius: 10px;
}

*::-webkit-scrollbar {
    width: px-to-rem(10px);
    @include theme(dark, 'accent');
}

.title {
    @include responsive-size(48px, null, null);
    place-self: center;
    margin-block-end: px-to-rem(24px);
    position: relative;
    width: max-content;

    &::after {
        content: '';
        position: absolute;
        bottom: px-to-rem(5px);
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: px-to-rem(3px);
        @include theme(dark, 'font');
    }
}

.spanColor {
    background: $color-details;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .tooltipText {
        font-family: $font-family-body;
        visibility: hidden;
        width: px-to-rem(120px);
        @include theme(dark, 'hover');
        text-align: center;
        border-radius: 5px;
        @include responsive-size(16px, 5px, null);
        position: absolute;
        z-index: 99;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    &:hover .tooltipText {
        visibility: visible;
        bottom: 100%;
        opacity: 1;
    }
}

.hidden {
    visibility: hidden;
}

.iconStack {
    height: px-to-rem(56px);
    border-radius: 10px;
}

.light {
    @include theme(light);

    body {
        @include theme(light);
    }

    *::-webkit-scrollbar-thumb {
        @include theme(light);
    }

    *::-webkit-scrollbar {
        @include theme(light, 'accent');
    }

    a {
        color: $light-color;
    }

    .title {
        &::after {
            @include theme(light, 'font');
        }
    }

    .tooltip {
        .tooltipText {
            @include theme(light, 'hover');
        }
    }
}
