// cores do modo escuro e claro
$dark-background-main: #2E2C2C;
$dark-background-accent: #292626;
$dark-background-hover: #2b2a2a;
$dark-color: #F3EDED;
$light-background-main: #D6D2D2;
$light-background-accent: #E4E2E2;
$light-background-hover: #CAC4C4;
$light-color: #0A0505;

// Cores
$color-header: linear-gradient(to bottom, #393535, #39363660);

// Tipografia
$font-family-logo: 'Fira Code', monospace;
$font-family-title: 'Mukta', sans-serif;
$font-family-body: 'Noto Sans', sans-serif;
$base-font-size: 16px;