// Import dos arquivos
@import 'variables';
@import 'mixins';
@import 'base';

header {
    background: $color-header;
    height: 7.5svh;
    width: 100vw;
    box-shadow: 4px 4px 10px $color-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-inline: px-to-rem(24px);
    padding-block: px-to-rem(12px);
    @include responsive-size(24px, null, null);

    .menu {
        display: flex;
        align-items: center;

        .logo {
            @include responsive-size(32px, 16px, null);
        }

        .menuNav {
            display: flex;

            .navItem {
                @include responsive-size(null, 16px, null);

                a.active {
                    font-weight: bold;
                    color: blue;
                }
            }
        }
    }

    .settings {
        display: flex;
        align-items: center;

        .theme {
            @include responsive-size(40px, 24px, null);
        }

        .languageContainer {
            position: relative;
            rotate: 0deg;

            &[open] summary .arrowLang {
                transform: rotate(-180deg);
            }

            summary {
                @include responsive-size(null, 5px, null);
                border: 2px solid $light-color;
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;

                .arrowLang {
                    @include transition(transform);
                    transform: rotate(0deg);
                }

                * {
                    padding-inline: px-to-rem(5px);
                }
            }

            .imgFlag {
                height: px-to-rem(38px);
            }

            .optionsLang {
                margin-block-start: px-to-rem(5px);
                position: absolute;
                width: 100%;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                background: $color-header;
                border-radius: 5px;
                @include responsive-size(null, 5px, null);

                .langs {
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    padding-inline: px-to-rem(5px);
                    cursor: pointer;

                    * {
                        padding-inline: px-to-rem(5px);
                    }

                    &:hover {
                        background: $dark-background-hover;
                    }

                    &.active {
                        background: $dark-background-hover;
                    }
                }
            }
        }
    }
}

.buttonContainer {
    cursor: pointer;
    height: px-to-rem(75px);
    width: px-to-rem(75px);
    position: fixed;
    bottom: px-to-rem(25px);
    right: px-to-rem(-100px);
    background-color: $dark-background-main;
    box-shadow: 0 0 20px $color-shadow;
    @include responsive-size(32px, null, null);
    border-radius: 50%;
    z-index: 999;
    opacity: 0;
    transition: right 0.5s ease, opacity 0.5s ease;

    &:hover {
        animation: bounce 1.5s infinite;
    }

    &.visible {
        opacity: 1;
        right: px-to-rem(25px);
    }

    &.hidden {
        opacity: 0;
        right: px-to-rem(-100px);
    }

    .buttonToTop {
        display: grid;
        place-content: center;
        height: px-to-rem(75px);
        width: px-to-rem(75px);
        border-radius: 50%;
    }
}

main {
    .hero {
        padding-block-start: px-to-rem(100px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75svh;

        .containerHero {
            padding-block-start: px-to-rem(128px);
            display: grid;

            .heroText {
                place-self: center;
                width: 35%;

                .heroTitle {
                    -webkit-user-select: none;
                    user-select: none;
                    line-height: 0.9;
                    @include responsive-size(32px, null, null);

                    .titleSpan {
                        font-family: $font-family-title;
                        @include responsive-size(96px, null, null);

                        &::after {
                            content: '|';
                            margin-left: px-to-rem(3px);
                            opacity: 1;
                            will-change: filter;
                            animation: caret 0.7s infinite;
                        }
                    }
                }

                .heroSubTitle {
                    @include responsive-size(40px, null, null);
                    font-family: $font-family-logo;
                    text-indent: 16px;
                }
            }

            .heroDetails {
                display: flex;
                place-self: center;
                align-items: center;
                width: 50vw;
                margin-block-start: px-to-rem(24px);

                * {
                    padding-inline: px-to-rem(10px);
                }

                .heroLine {
                    width: 100%;
                    height: px-to-rem(3px);
                    border: none;
                    background-color: $dark-color;
                }

                [class*='circle'] {
                    @include responsive-size(16px, null, null);
                }

                .heroIcon {
                    cursor: pointer;
                    @include responsive-size(48px, null, null);
                }
            }
        }

        .scroll {
            align-items: center;
            display: flex;
            flex-direction: column;
            will-change: transform;
            animation: bounce 3s infinite;

            .scrollText {
                -webkit-user-select: none;
                user-select: none;
                text-align: center;
                margin-block: px-to-rem(-2.5px);
            }

            i {
                @include responsive-size(48px, null, null);
            }
        }
    }

    .waveContainer {
        position: relative;
        overflow: hidden;
        z-index: 100;
        height: px-to-rem(500px);
        margin-block-start: px-to-rem(-200px);

        .parallaxWave {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;

            &.numberOne {
                margin-left: px-to-rem(-200px);
            }
        }
    }

    .profileContainer {
        scroll-margin-block-start: 5svh;
        margin-block-start: px-to-rem(-100px);
        position: relative;
        z-index: 200;
        background: $dark-background-accent;

        .about {
            width: 75vw;
            margin: auto;
            display: grid;
            align-items: center;
            @include responsive-size(null, 24px, null);
            grid-template-areas: 'about about image' 'skills skills image';

            .textContainer {
                grid-area: about;
                display: flex;
                flex-direction: column;
                padding: px-to-rem(20px);
                max-width: 75%;

                .textAboutMe {
                    @include responsive-size(20px, null, null);
                }
            }

            .skills {
                grid-area: skills;
                display: flex;
                flex-direction: column;
                padding: px-to-rem(20px);
                max-width: 75%;

                h3 {
                    @include responsive-size(32px, null, null);
                }

                .stackContainer {
                    display: flex;
                    gap: px-to-rem(16px);
                    @include responsive-size(null, 16px, null);
                }
            }

            .photoContainer {
                grid-area: image;
                position: relative;

                img {
                    height: px-to-rem(700px);
                    border: 2px solid $color-details;
                    position: relative;
                    z-index: 200;
                    border-radius: 150px 150px 10px 10px;
                }

                &::before {
                    content: '';
                    top: px-to-rem(25px);
                    left: px-to-rem(50px);
                    background-color: $color-shadow;
                    opacity: 0.5;
                    border: 2px solid $color-details;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    z-index: 100;
                    border-radius: 150px 150px 10px 10px;
                }
            }
        }
    }

    .projects {
        scroll-margin-block-start: 5svh;
        padding-block-start: px-to-rem(50px);
        display: flex;
        flex-direction: column;
        gap: px-to-rem(10px);
        background: $dark-background-accent;

        .projectContainer {
            background: $dark-background-main;
            display: flex;
            place-content: center;
            padding-block: px-to-rem(10px);

            &:nth-child(even) {
                .contentProject {
                    grid-template-areas:
                        'title    title       image   '
                        'description description image'
                        'stack    links       image   ';

                    .linksProject {
                        justify-content: end;
                        flex-direction: row-reverse;
                    }
                }
            }

            .contentProject {
                display: grid;
                gap: px-to-rem(5px);
                max-width: 75%;
                grid-template-areas:
                    'image    title       title   '
                    'image description description'
                    'image    links       stack   ';

                .titleProject {
                    grid-area: title;
                    text-align: center;
                    @include responsive-size(32px, 10px, null);
                }

                .imgDesktop {
                    align-self: center;
                    height: px-to-rem(300px);
                    grid-area: image;
                    border-radius: 10px;
                    object-fit: contain;
                }

                .descriptionProject {
                    grid-area: description;
                    @include responsive-size(18px, 10px, null);
                }

                .stackContainer {
                    display: flex;
                    flex-direction: column;
                    grid-area: stack;
                    align-items: left;
                    justify-content: center;
                    gap: px-to-rem(10px);
                    font-family: $font-family-title;
                    @include responsive-size(22px, 10px, null);
                }

                .linksProject {
                    align-items: center;
                    justify-content: start;
                    grid-area: links;
                    display: flex;
                    flex-direction: row;
                    gap: px-to-rem(15px);
                    @include responsive-size(null, 15px, null);

                    .iconProject {
                        @include responsive-size(56px, null, null);
                    }
                }
            }
        }
    }

    .contact {
        scroll-margin-block-start: 5svh;
        padding-block-start: px-to-rem(50px);
        background: $dark-background-accent;
        display: grid;
        place-content: center;

        .contactContainer {
            display: flex;
            gap: px-to-rem(40px);

            .contactItem {
                position: relative;
                width: px-to-rem(80px);
                height: px-to-rem(80px);
                border-radius: 60px;
                background-color: $dark-background-main;
                box-shadow: 0 0 15px $color-shadow;
                @include transition(width);

                &:hover {
                    width: px-to-rem(180px);
                }

                .linkContact {
                    display: grid;
                    place-content: center;
                    border-radius: 60px;
                    width: px-to-rem(80px);
                    height: px-to-rem(80px);
                    @include transition(width);

                    &:hover {
                        width: px-to-rem(180px);

                        .iconContact {
                            scale: 0;
                        }

                        .textContact {
                            scale: 1;
                            @include transition(scale);
                            transition-delay: 0.1s;
                        }
                    }

                    .iconContact {
                        @include responsive-size(38px, null, null);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        scale: 1;
                        @include transition(scale);
                    }

                    .textContact {
                        font-family: $font-family-title;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        scale: 0;
                        @include responsive-size(20px, null, null);
                    }
                }
            }
        }
    }
}

footer {
    background: $dark-background-accent;
    display: grid;
    place-items: center;

    // .buttonToTop {
    //     @include responsive-size(56px, null, 64px);
    //     text-align: center;
    //     // margin-inline-end: 40px;
    //     // padding-inline-start: 40px;
    //     // padding-block-start: 40px;
    //     // position: relative;
    //     // font-family: $font-family-logo;

    //     // &::before {
    //     //     content: '<';
    //     //     position: absolute;
    //     //     @include responsive-size(72px, null, null);
    //     //     top: 50%;
    //     //     transform: translateY(-50%);
    //     //     left: px-to-rem(50px);
    //     // }

    //     // &.rotate::before {
    //     //     animation: rotate 1s forwards;
    //     // }

    //     // &::after {
    //     //     content: '|';
    //     //     position: absolute;
    //     //     @include responsive-size(56px, null, null);
    //     //     top: 50%;
    //     //     transform: translateY(-50%);
    //     //     right: px-to-rem(-15px);
    //     // }

    //     .buttonText {
    //         line-height: px-to-rem(64px);
    //         height: 100%;
    //         font-family: $font-family-logo;
    //         white-space: nowrap;
    //         overflow: hidden;
    //         display: inline-block;
    //         animation: none;
    //     }
    // }

    .logo {
        @include responsive-size(56px, null, 64px);
    }

    .footerText {
        @include responsive-size(16px, 8px, null);
        place-self: start;
    }
}

// @keyframes typing {
//     from {
//         width: 0%;
//     }
//     to {
//         width: 100%;
//     }
// }

// @keyframes typing-reverse {
//     from {
//         width: 100%;
//     }
//     to {
//         width: 0%;
//     }
// }

// @keyframes rotate {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(90deg);
//         top: -5px;
//         left: 18px;
//     }
// }

@keyframes caret {
    0%,
    100% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
