* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #2e2c2c;
  color: #f3eded;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
}

ul,
a,
summary {
  text-decoration: none;
  color: #f3eded;
  list-style-type: none;
}

.logo {
  font-family: "Fira Code", monospace;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e2c2c;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 0.625rem;
  background: #292626;
}

.title {
  font-size: 3rem;
  place-self: center;
  margin-block-end: 1.5rem;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0.3125rem;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.1875rem;
  background-color: #f3eded;
  color: #f3eded;
}

.spanColor {
  color: #3d73be;
  font-weight: 900;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 7.5rem;
  background-color: #2b2a2a;
  color: #f3eded;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.3125rem;
  position: absolute;
  z-index: 99;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  bottom: 100%;
  opacity: 1;
}

.iconStack {
  height: 3.5rem;
  border-radius: 10px;
}

.header {
  background: linear-gradient(to bottom, #393535, rgba(57, 54, 54, 0.3764705882));
  height: 7.5svh;
  width: 100vw;
  box-shadow: 4px 5px 8px rgba(34, 32, 32, 0.2509803922);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  font-size: 1.5rem;
}
.header .menuNav {
  display: flex;
  align-items: center;
}
.header .menuNav .logo {
  font-size: 2rem;
  padding: 1rem;
}
.header .menuNav .menu {
  display: flex;
}
.header .menuNav .menu .navItem {
  padding: 1rem;
}
.header .settings {
  display: flex;
  align-items: center;
}
.header .settings .theme {
  font-size: 2.5rem;
  padding: 1.5rem;
}
.header .settings .languageContainer {
  position: relative;
  rotate: 0deg;
}
.header .settings .languageContainer[open] summary .arrowLang {
  transform: rotate(-180deg);
}
.header .settings .languageContainer summary {
  padding: 0.3125rem;
  border: 2px solid #0a0505;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .settings .languageContainer summary .arrowLang {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.header .settings .languageContainer summary * {
  padding-inline: 5px;
}
.header .settings .languageContainer .imgFlag {
  height: 2.375rem;
}
.header .settings .languageContainer .optionsLang {
  margin-block-start: 0.3125rem;
  position: absolute;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(to bottom, #393535, rgba(57, 54, 54, 0.3764705882));
  border-radius: 5px;
  padding: 0.3125rem;
}
.header .settings .languageContainer .optionsLang .langs {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-inline: 5px;
  cursor: pointer;
}
.header .settings .languageContainer .optionsLang .langs * {
  padding-inline: 5px;
}
.header .settings .languageContainer .optionsLang .langs:hover {
  background: #2b2a2a;
}
.header .settings .languageContainer .optionsLang .langs.active {
  background: #2b2a2a;
}

main .hero {
  padding-block-start: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75svh;
}
main .hero .containerHero {
  padding-block-start: 8rem;
  display: grid;
}
main .hero .containerHero .heroText {
  place-self: center;
  width: 35%;
}
main .hero .containerHero .heroText .heroTitle {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  line-height: 0.9;
  font-size: 2rem;
}
main .hero .containerHero .heroText .heroTitle .titleSpan {
  font-family: "Outfit", sans-serif;
  font-size: 6rem;
}
main .hero .containerHero .heroText .heroTitle .titleSpan::after {
  content: "|";
  margin-left: 3px;
  opacity: 1;
  will-change: filter;
  animation: caret 0.7s infinite;
}
main .hero .containerHero .heroText .heroSubTitle {
  font-size: 2.5rem;
  font-family: "Fira Code", monospace;
  text-indent: 16px;
}
main .hero .containerHero .heroDetails {
  display: flex;
  place-self: center;
  align-items: center;
  width: 50vw;
  margin-block-start: 1.5rem;
}
main .hero .containerHero .heroDetails * {
  padding-inline: 0.625rem;
}
main .hero .containerHero .heroDetails .heroLine {
  width: 100%;
  height: 3px;
  border: none;
  background-color: #f3eded;
}
main .hero .containerHero .heroDetails [class*=circle] {
  font-size: 1rem;
}
main .hero .containerHero .heroDetails .heroIcon {
  cursor: pointer;
  font-size: 3rem;
}
main .hero .scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  will-change: transform;
  animation: bounce 3s infinite;
}
main .hero .scroll .scrollText {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  text-align: center;
  margin-block: -2.5px;
}
main .hero .scroll i {
  font-size: 3rem;
}
main .waveContainer {
  position: relative;
  overflow: hidden;
  z-index: 100;
  height: 500px;
  margin-block-start: -14.0625rem;
}
main .waveContainer .parallaxWave {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}
main .waveContainer .parallaxWave.numberOne {
  margin-left: -200px;
}
main .profileContainer {
  margin-block-start: -6.25rem;
  position: relative;
  z-index: 200;
  background: #292626;
}
main .profileContainer .about {
  width: 75vw;
  margin: auto;
  display: grid;
  align-items: center;
  padding: 1.5rem;
  grid-template-areas: "about about image" "skills skills image";
}
main .profileContainer .about .textContainer {
  grid-area: about;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 75%;
}
main .profileContainer .about .textContainer .textAboutMe {
  font-size: 1.25rem;
}
main .profileContainer .about .skills {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 75%;
}
main .profileContainer .about .skills h3 {
  font-size: 2rem;
}
main .profileContainer .about .skills .stackContainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
main .profileContainer .about .photoContainer {
  grid-area: image;
  position: relative;
}
main .profileContainer .about .photoContainer img {
  height: 43.75rem;
  border: 2px solid #3d73be;
  position: relative;
  z-index: 200;
  border-radius: 150px 150px 10px 10px;
}
main .profileContainer .about .photoContainer::before {
  content: "";
  top: 1.5625rem;
  left: 3.125rem;
  background-color: rgba(34, 32, 32, 0.2509803922);
  border: 2px solid #3d73be;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  border-radius: 150px 150px 10px 10px;
}
main .projects {
  padding-block-start: 50px;
  display: flex;
  flex-direction: column;
  background: #292626;
}
main .projects .projectContainer {
  background: #2e2c2c;
  display: flex;
  place-content: center;
  padding-block: 0.625rem;
}
main .projects .projectContainer .contentProject {
  display: grid;
  gap: 0.3125rem;
  max-width: 75%;
  grid-template-areas: "image    title       title   " "image description description" "image    links       stack   ";
}
main .projects .projectContainer .contentProject .titleProject {
  grid-area: title;
  text-align: center;
  font-size: 2rem;
  padding: 0.625rem;
}
main .projects .projectContainer .contentProject .imgDesktop {
  align-self: center;
  height: 18.75rem;
  grid-area: image;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .projects .projectContainer .contentProject .descriptionProject {
  grid-area: description;
  font-size: 1.125rem;
  padding: 0.625rem;
}
main .projects .projectContainer .contentProject .stackContainer {
  display: flex;
  flex-direction: column;
  grid-area: stack;
  align-items: left;
  justify-content: center;
  gap: 0.625rem;
  font-family: "Outfit", sans-serif;
  font-size: 1.375rem;
  padding: 0.625rem;
}
main .projects .projectContainer .contentProject .linksProject {
  align-items: center;
  grid-area: links;
  display: flex;
  gap: 0.9375rem;
}
main .projects .projectContainer .contentProject .linksProject .iconProject {
  margin-inline-start: 0.9375rem;
  font-size: 3.5rem;
}
main .contact {
  padding-block-start: 3.125rem;
  background: #292626;
  display: grid;
  place-content: center;
}
main .contact .contactContainer {
  display: flex;
  gap: 2.5rem;
}
main .contact .contactContainer .contactItem {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 60px;
  background-color: #2e2c2c;
  box-shadow: 8px 8px 25px rgba(34, 32, 32, 0.2509803922);
  transition: width 0.3s ease;
}
main .contact .contactContainer .contactItem:hover {
  width: 11.25rem;
}
main .contact .contactContainer .contactItem .linkContact {
  display: grid;
  place-content: center;
  border-radius: 60px;
  width: 5rem;
  height: 5rem;
  transition: width 0.3s ease;
}
main .contact .contactContainer .contactItem .linkContact:hover {
  width: 11.25rem;
}
main .contact .contactContainer .contactItem .linkContact:hover .iconContact {
  scale: 0;
}
main .contact .contactContainer .contactItem .linkContact:hover .textContact {
  scale: 1;
  transition: scale 0.3s ease;
  transition-delay: 0.1s;
}
main .contact .contactContainer .contactItem .linkContact .iconContact {
  font-size: 2.375rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 1;
  transition: scale 0.3s ease;
}
main .contact .contactContainer .contactItem .linkContact .textContact {
  font-family: "Outfit", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 0;
}

footer {
  background: #292626;
  font-size: 1rem;
  padding: 0.5rem;
}

@keyframes caret {
  0%, 100% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=main.css.map */