@import '../utils/mixins';

footer {
    @include theme(dark, 'accent');
    display: grid;
    place-items: center;

    .logo {
        @include responsive-size(56px, null, 64px);
    }

    .footerText {
        @include responsive-size(16px, 8px, null);
        place-self: start;
    }
}
