@use 'sass:math';

// import das variáveis
@import 'variables';

@mixin theme($theme, $background-type: 'main') {
    @if $theme == light {
        @if $background-type == 'main' {
            background-color: $light-background-main;
        } @else if $background-type == 'accent' {
            background-color: $light-background-accent;
        } @else if $background-type == 'header' {
            background: $light-background-header;
        } @else if $background-type == 'hover' {
            background-color: $light-background-hover;
        } @else if $background-type == 'font' {
            background-color: $light-background-font;
        }
        color: $light-color;
    } @else if $theme == dark {
        @if $background-type == 'main' {
            background-color: $dark-background-main;
        } @else if $background-type == 'accent' {
            background-color: $dark-background-accent;
        } @else if $background-type == 'header' {
            background: $dark-background-header;
        } @else if $background-type == 'hover' {
            background-color: $dark-background-hover;
        } @else if $background-type == 'font' {
            background-color: $dark-background-font;
        }
        color: $dark-color;
    }
}

@function px-to-rem($px) {
    @if $px != 0 {
        @return math.div($px, $base-font-size) * 1rem;
    } @else {
        @return 0;
    }
}

@mixin responsive-size($font-size: null, $padding: null, $margin: null) {
    @if $font-size {
        font-size: clamp(
            px-to-rem($font-size * 0.75),
            2vw,
            px-to-rem($font-size * 1.2)
        );
    }

    @if $padding {
        padding: px-to-rem($padding);
    }

    @if $margin {
        margin: px-to-rem($margin);
    }
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == 'small' {
        @media (max-width: 600px) {
            @content;
        }
    } @else if $breakpoint == 'medium' {
        @media (max-width: 850px) {
            @content;
        }
    } @else if $breakpoint == 'wave' {
        @media (max-width: 1350px) {
            @content;
        }
    }
}

@mixin transition($properties...) {
    transition: $properties 0.3s ease;
}
